<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Tracker</title>
    <link rel="stylesheet" href="https://chiefwoods.github.io/footer-template/template.css">
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <script src="../public/script.js" defer></script>
  </head>

  <body>
    <main>
      <h1>Issue Tracker</h1>
      <hr>
      <section>
        <div class="example">
          <h2>Example Usage:</h2>
          <div>
            <code>/api/issues/{project}</code>
            <code>/api/issues/{project}?open=true&assigned_to=Joe</code>
          </div>
        </div>
        <div class="example">
          <h2>Example Return:</h2>
          <pre>
            <code>
[
  { 
    "_id": "5871dda29faedc3491ff93bb",
    "issue_title": "Fix error in posting data",
    "issue_text": "When we post data it has an error.",
    "created_by": "Joe",
    "assigned_to": "Joe",
    "status_text": "In QA"
    "open": true,
    "created_on": "2017-01-08T06:35:14.240Z",
    "updated_on": "2017-01-08T06:35:14.240Z",
  },
  ...
]</code>
</pre>
        </div>
      </section>
      <hr>
      <section class="apitest">
        <hgroup>
          <h2>Examples</h2>
          <p>Go to <a href="./apitest">/apitest</a> project</p>
        </hgroup>
        <h3>API Tests</h3>
        <form id="submit">
          <h4>Submit issue on <i>apitest</i></h4>
          <input type="text" name="issue_title" placeholder="*Title" required>
          <textarea name="issue_text" placeholder="*Text" required></textarea>
          <input type="text" name="created_by" placeholder="*Created by" required>
          <input type="text" name="assigned_to" placeholder="Assigned to">
          <input type="text" name="status_text" placeholder="Status text">
          <button type="submit">Submit Issue</button>
        </form>
        <form id="update">
          <h4>Update issue on <i>apitest</i></h4>
          <input type="text" name="_id" placeholder="*_id" required>
          <input type="text" name="issue_title" placeholder="Title">
          <textarea name="issue_text" placeholder="Text"></textarea>
          <input type="text" name="created_by" placeholder="Created by">
          <input type="text" name="assigned_to" placeholder="Assigned to">
          <input type="text" name="status_text" placeholder="Status text">
          <label for="close-issue">
            <input type="checkbox" name="open" id="close-issue" value="false">
            Close issue
          </label>
          <button type="submit">Update Issue</button>
        </form>
        <form id="delete">
          <h4>Delete issue on <i>apitest</i></h4>
          <input type="text" name="_id" placeholder="*_id" required>
          <button type="submit">Delete Issue</button>
        </form>
        <code class="result"></code>
      </section>
    </main>
    <footer>
      <span class="made-by">Copyright @
        <script>document.write(new Date().getFullYear())</script> ChiefWoods
      </span>
      <a class="github-link" href="https://github.com/ChiefWoods/issue-tracker" target="_blank">
        <img src="./public/icons/github.svg" class="github-icon" alt="GitHub">
      </a>
    </footer>
  </body>

</html>