<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Tracker - Project Page</title>
    <link rel="stylesheet" href="https://chiefwoods.github.io/footer-template/template.css">
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <script src="../public/issue.js" defer></script>
  </head>

  <body>
    <main>
      <h1 class="project-title">Issues For: <script>document.write(window.location.pathname.split('/').pop())</script></h1>
      <form id="submit">
        <h4>Submit a new issue:</h4>
        <input type="text" name="issue_title" placeholder="*Title" required>
        <textarea name="issue_text" placeholder="*Text" rows="5" required></textarea>
        <input type="text" name="created_by" placeholder="*Created by" required>
        <input type="text" name="assigned_to" placeholder="Assigned to">
        <input type="text" name="status_text" placeholder="Status text">
        <button type="submit">Submit Issue</button>
      </form>
      <section class="issue-container"></section>
    </main>
    <footer>
      <span class="made-by">Copyright @
        <script>document.write(new Date().getFullYear())</script> ChiefWoods
      </span>
      <a class="github-link" href="https://github.com/ChiefWoods/issue-tracker" target="_blank">
        <img src="./public/icons/github.svg" class="github-icon" alt="GitHub">
      </a>
    </footer>
  </body>

</html>